 /* Hide scrollbar for Chrome, Safari and Opera */
 .scroll-container::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scroll-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* Cursor for dragging */
  .scroll-container {
    cursor: grab;
  }
  .scroll-container:active {
    cursor: grabbing;
  }

  /* filter */
  /* Root variables for light and dark mode colors */
:root {
  --bg-color-light: white;
  --bg-color-dark: #1a1a1a;
  --border-color-light: #ccc;
  --border-color-dark: #444;
  --text-color-light: #333;
  --text-color-dark: #ccc;
  --arrow-color-light: #333;
  --arrow-color-dark: #ccc;
  --focus-border-light: black;
  --focus-border-dark: white;
}

/* Default light mode */
.custom-select-container {
  position: relative;
  width: 100%;
}

.custom-select {
  appearance: none;
  background-color: var(--bg-color-light);
  border: 1px solid var(--border-color-light);
  border-radius: 8px;
  padding: 12px;
  padding-right: 40px; /* Space for the arrow */
  font-size: 16px;
  color: var(--text-color-light);
}

.custom-select:focus {
  outline: none;
  border-color: var(--focus-border-light);
}

.custom-select-container svg {
  pointer-events: none;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--arrow-color-light);
}

/* Dark mode styles */
.dark .custom-select {
  background-color: var(--bg-color-dark);
  border-color: var(--border-color-dark);
  color: var(--text-color-dark);
}

.dark .custom-select:focus {
  border-color: var(--focus-border-dark);
}

.dark .custom-select-container svg {
  fill: var(--arrow-color-dark);
}


  
  /* filter */