 /* Hide scrollbar for Chrome, Safari and Opera */
 .scroll-container::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scroll-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* Cursor for dragging */
  .scroll-container {
    cursor: grab;
  }
  .scroll-container:active {
    cursor: grabbing;
  }

  /* filter */
  .custom-select {
    appearance: none; /* Remove default dropdown arrow */
    -webkit-appearance: none; /* Remove default dropdown arrow for WebKit browsers */
    -moz-appearance: none; /* Remove default dropdown arrow for Firefox */
    background: transparent; /* Set background to transparent */
    border: 1px solid #d1d5db; /* Adjust border if needed */
    border-radius: 0.375rem; /* Match border radius with Tailwind classes */
    padding: 0.5rem; /* Adjust padding if needed */
    width: 100%; /* Full width */
  }

  /* Optional: Add custom arrow if needed */
  .custom-select::-ms-expand {
    display: none; /* Hide dropdown arrow in Internet Explorer */
  }

  /* Optional: Add custom styling for the dropdown container */
  .custom-select-container {
    position: relative;
    display: inline-block;
  }
  
  .custom-select-container::after {
    content: '\25BC'; /* Unicode for downwards arrow */
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
    pointer-events: none;
  }

  
  /* filter */